.venv/

ImoveisScrapy/.idea/modules.xml
ImoveisScrapy/.idea/workspace.xml
ImoveisScrapy/.idea/misc.xml
ImoveisScrapy/.idea/ImoveisScrapy.iml
ImoveisScrapy/.idea/inspectionProfiles/profiles_settings.xml
*.log
*.html
*.pyc
/output
*.json
.venv
/deletefiles
/*.json
